html {
    background-color: blueviolet;
}
.jo1 {
    color: white;
    font-size: 50px;
    font-family:  Courier New, monospace ;
}
h2{
    color: white;
    font-size: 30px;
    font-family: Courier New, monospace; ;
}
.jo2{
    color: black;
    font-size: 20px;
    font-family:  Courier New, monospace; ;
}
.jo3{
    color: black;
    font-size: 20px;
    font-family:  Courier New, monospace; ;
}
.jo4{
    color: black;
    font-size: 20px;
    font-family:  Courier New, monospace; 
}
.jo5{
    color: black;
    font-size: 20px;
    font-family: Courier New, monospace; 
}